PORT=3000
SESSION_SECRET=change-me-to-a-random-string
AUTH_PASSWORD_HASH=$2a$10$replace-with-output-of-npm-run-hash-password
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxx/yyy
CHECK_INTERVAL_CRON=0 */6 * * *
